<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    <form action="index" method="post">{% csrf_token %}
        <input type="text" name="name" placeholder="Name"> <br>
        <input type="email" name="email" placeholder="Email"> <br>
        <input type="password" name="password1" placeholder="Password"><br>
        <input type="password" name="password2" placeholder="Password"><br>
        <input type="submit" value="Submit">
    </form> <br> <br>
    <div>
        <a href="login">Login</a>
    </div>


    <div>
        {% for msg in messages %}
        <h3>{{ msg }}</h3>
        {% endfor %}
    </div>
</body>
</html>